*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'MacklinDisplayBold' ;
    src: url(/fuentes/MacklinDisplay-Bold.otf);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'MacklinDisplayLight' ;
    src: url(/fuentes/MacklinDisplay-ExtraLightIt.otf);
    font-weight: extralight;
    font-style: extralight;
}


li {
    font-family: 'MacklinDisplayLight';
    font-size: 40px;
    
}
footer{
    font-family: 'MacklinDisplayBold';
}
 
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.video1{
    height: 100%;
    padding-top: 175px ;
    align-items: center;
}

.galeria1 {
    height: 100%;
    padding-top: 75px ;
    align-items: center;
}

header {
    background-color: rgb(191 186 164);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 54px 10%;
}
.logo img{
    height: 70px;
    width: auto;
    margin-bottom: 20px;
}
.navbar > ul > li{
display: inline-block;
padding: 0 40px;
height: 100%;
position: relative;
}

.header .menu .navbar a{
    width: 100%;
    height: 100%;
    display: flex;
    color: rgb(20, 20, 20);
}
.header .menu .navbar a:hover{
    transform: scale(1.1);
}

footer{
 background-color: rgb(191 186 164);
 }

section img{
   width: 1200px; display: flex;
    align-items: center;
    padding: 20px;
}

.footer-index{
    text-align: end;
    margin-right: 30px;
}
.footerInspiracion{
    display: flex;
    height: 100% px;
    padding: 10px 20px 20px 10px;
    font-size: 22px;
    font-family: 'MacklinDisplayLight';
}
.footerInspiracion>p{
    padding: 20px;
}

.footerTrabajo {
    text-align: center;
    font-size: 30px;
    font-family: 'MacklinDisplayLight';
    height: 100%;
    padding: 30px;
}

.submenu{
    width: 175px;
    display: flex;
    flex-direction: column;
    background-color: rgba(45, 110, 78, 0.459);
    position: absolute;
    visibility:hidden;
    margin-top: 5px;
    opacity: 0;
        padding: 14px 0px;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
  }

nav ul li> ul>li {
    margin-top: 5px;
    padding:7px ;
}

nav ul li ul li:hover {
    color: aliceblue;
}

.galeria1{
    padding-bottom: 60px;
    padding-left: 75px;
    align-items: center;
}

.menuGaleria{
     align-items: center;
    justify-content: center;
}
.menuGaleria img{
    width: 300px;
    display: inline-block;
   
}

.footer-galeria{
    width: 100%;
    
    text-align: center;
    font-size: 30px;
    font-family: 'MacklinDisplayLight';
    height: 500px;
    padding: 30px;
    

}

.footer-galeria{
    width: 100%;
    
    text-align: center;
    font-size: 30px;
    font-family: 'MacklinDisplayLight';
    height: 100%;
    padding: 30px;
    

}

.menuVideo img{
    width: 350px;
    display: inline-block;
    align-items: center;
    
}

.footer-video{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'MacklinDisplayLight';
    height: 100%;
    padding: 30px;
}

.video1{
    padding-bottom: 200px;
    padding-left: 100px;
    
}
.fLibro {
     background-color: rgb(191 186 164);
     display: inline-flex;
}
.fLibro img{
    height: 150px;
}

.footer-libro{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'MacklinDisplayLight';
    height: 100%;
    padding: 30px;
}
.fLibro>div>p{
    font-family: 'MacklinDisplayLight';
    font-size: 30px;
    background-color: rgba(45, 110, 78, 0.459);
    width: 160px;
    color: aliceblue;
    margin-bottom: 10px;
    padding-left:5px ;

}

 section>label>{
    
 }
section .contatctoImg{
   width: 600px; 
   display: flex;
   padding: 20px;
}
 section>label>p {
        font-family: 'MacklinDisplayLight';
        font-size: 25px;
        margin-left: 20px;
        margin-right: 50px;
       

 }

 .contacto{
    display: flex;

 }
 .formulario{
    background-color: rgb(255, 203, 184);
    padding: 10px;
    width: 1700px;
    margin-bottom: 50px;
}
.primerInput{
    margin-top: 20px;
}
 .formulario> input{
    background-color: rgb(255, 203, 184);
    width: 100%;
    height: 40px;
}

.formulario>h2{
    margin-bottom: 30px;
    margin-top:5px ;
   font-family: 'MacklinDisplayBold';
   color: darkslategrey;
}

.footer-contacto{
 background-color: rgb(191 186 164);
 height:200px;
 display: flex;
}

.footer-siguenos{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'MacklinDisplayLight';
    height: 100%;
    padding: 30px;
}

.iconos{
    display: flex;
    align-items:center;
    justify-content: flex-end;
}
.iconos>h2{
    margin-right: 20px;
    font-family: 'MacklinDisplayBold';
}
.iconos >a >img{
    width: 100px;
    margin-left: -30px;
}

.navbar>ul>img{
    height: 40px;
}
/voy a comentar este codigo 